<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/output.css">
  <title>TODOS</title>
</head>
<body>
  <div class="flex items-center justify-center w-screen h-screen font-medium">
    <div class="flex flex-grow items-center justify-center h-full text-gray-600 bg-gray-100">
      <div class="max-w-full p-8 bg-white rounded-lg shadow-lg w-96">
        <div class="flex items-center mb-6">
          <h4 class="font-semibold text-lg">TODOS</h4>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
